openapi: 3.0.0
info:
  title: Plausible API
  description: Plausible API allows you to record pageviews or custom events.
  version: 1.0.0
servers:
  - url: https://plausible.io/api
    description: Production server
paths:
  /event:
    post:
      summary: Record a pageview or custom event
      parameters:
        - in: header
          name: User-Agent
          required: true
          schema:
            type: string
          description: >
            Used to calculate unique visitor ID and populate device reports
            via the device-detector database.
        - in: header
          name: X-Forwarded-For
          required: false
          schema:
            type: string
          description: >
            Overrides the client IP address. If comma-separated, the first
            valid IP address is used. Supports IPv4 and IPv6.
        - in: header
          name: X-Debug-Request
          required: false
          schema:
            type: boolean
          description: >
            When true, returns 200 with the IP address used for visitor counting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - domain
                - url
              properties:
                name:
                  type: string
                  description: Name of the event. Can be 'pageview' or a custom event name.
                  example: pageview
                domain:
                  type: string
                  description: Domain name of the site in Plausible.
                  example: dummy.site
                url:
                  type: string
                  format: uri
                  maxLength: 2000
                  description: URL of the page where the event was triggered.
                  example: http://dummy.site
                referrer:
                  type: string
                  description: Referrer for this event.
                  example: http://referrer.site
                props:
                  type: object
                  maxProperties: 30
                  description: Custom properties for the event.
                  example: {"author": "John Doe", "logged_in": "false"}
                revenue:
                  type: object
                  description: Revenue data for this event.
                  required:
                    - currency
                    - amount
                  properties:
                    currency:
                      type: string
                      description: ISO 4217 string representing the currency code.
                      example: USD
                    amount:
                      type: number
                      description: Revenue amount.
                      example: 1322.22
                interactive:
                  type: boolean
                  description: >
                    Whether the event affects bounce rate. Defaults to true.
                    Set to false for non-interactive events.
      responses:
        '202':
          description: Accepted
        '200':
          description: >
            Debug response returned when X-Debug-Request header is true.
            Contains the IP address used for visitor counting.
